@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f1e9;
}

/* home */
.title {
  font-size: 4rem;
  line-height: 3.5rem;
  font-weight: 500;
}

@media (min-width: 720px) and (max-width: 960px) {
  .title {
    font-size: 5rem;
    line-height: 4.5rem;
  }
}

@media (min-width: 960px) {
  .title {
    font-size: 6rem;
    line-height: 5.5rem;
  }
}

.btnstart {
  border-radius: 0 0.75rem 0 0.75rem;
}

/* navbar */
.signinbtn:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.drpdown {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.newBtn {
  border-radius: 0.25rem 1rem 0 0.25rem;
}

.newBtn:hover {
  box-shadow: rgba(210, 142, 5, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.upBtn:hover {
  box-shadow: rgba(210, 142, 5, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.avtr:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* homepage logged in */
.line-clamp-8 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  line-clamp: 8;
}

.postcard:hover {
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
    rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
    rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
    rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.img-post {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

/* Create Post */
@keyframes outlineAnimation {
  0% {
    outline-color: transparent;
    outline-width: 0;
  }
  100% {
    outline-color: 2px;
  }
}

.focused-outline {
  outline: 2px solid #00ff1a; /* Blue color outline */
  animation: outlineAnimation 0.1s ease-in-out forwards;
}

.ce-toolbar__content,
.codex-editor__redactor {
  max-width: unset;
}

.ce-block__content {
  max-width: 100%;
  width: 100%;
  word-break: break-word;
  padding-left: 2px;
}

.SubTopBg {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.SubTop {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.rti--container {
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 10rem;
  --rti-bg: #fffff06f !important;
  --rti-main: #848408 !important;
  --rti-border: black !important;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --rti-tag: rgba(227, 189, 22, 0.315) !important;
}

.rti--container input {
  background-color: var(--rti-bg) !important;
  color: black;
}

/* view post */

.con {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
